@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #2d2d2d;
  --secondary-black: #1e1e1e;
  --background: #ffffff;
  --primary: #281e9b;
  --secondary: #1755ff;
  --brown: #e8e2e2;
  --dark-brown: #474747;
  --green: #004736;
  --light-green: #d2e3df;
  --gray: #4d4d52;
}

body {
  background: #f8f8f8;
  font-family: 'Inter', Helvetica, sans-serif;
}
